.singleFood-mainsection {
  border: 1px solid rgb(231, 230, 230);
  border-radius: 8px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.singleFood-mainsection:hover {
  box-shadow: 10px 4px 5px rgb(202, 200, 200);
}
