ul li {
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: gray;
    transition: 0.34s ease-in-out;

}
ul li:hover{
    color: red;
    margin-left: 8px;
}