$bg-color-primary: #a1cec865;

$brandColor1: #eeeeee;
$brandColor2: #000000;
$brandColor3: #0bebff;
$brandColor4: #2198f3;

$primarytext-clr: #fff;
$secondarytext-clr: rgb(214, 214, 214);
$thirdtext-clr: rgb(105, 105, 105);

$primary-color: #ff0000;
$secondary-color: #d3d3d3;

$border-color: #0bebff;

$black: #000000;
